<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Car Park Rejected</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

</style>
</head>
<body>
	<p th:text="'Dear ' +${name}+ ','"></p>

	<p>Your car park submission has been rejected.</p>

	<p>A member of the ePark admin team has reviewed the details and rejected the car park.</p>
	
	<p>Please view the reason under the comments in the manage car park section.</p>

	<p th:text="'Car Park: ' +${carparkname}"></p>

	<p>
		Regards, <br /> <em>ePark Admin Team</em>
	</p>
</body>
</html>