<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Reassign Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

</style>
</head>
<body>
	<p th:text="'Dear ' +${name}+ ','"></p>

	<p>Our site admin has reported that a vehicle in your allocated space has overstayed
		their booking. We have reassigned your booking to a different space. 
		</p>

	<p th:text="'Booking ID: ' +${bookingId}"></p>
	<p th:text="'Space Number: ' +${spaceNumber}"></p>

	<p>
		Regards, <br /> <em>ePark Admin Team</em>
	</p>
</body>
</html>