<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<head>

</head>
<body>

	<div layout:fragment="content" th:remove="tag">
		<div class="pusher">

			<div class="ui container">
				<div class="ui segments">
					<div class="ui top segment secondary">
						<p class="green">
							<i class="check icon green"></i>&nbsp;Booking Success
						</p>
					</div>
					<div class="ui segment">
						<p>Your booking is confirmed</p>
						<p>You’ll receive a confirmation email with your order number
							shortly.</p>

						<a class="ui button" href="/home">Back Home</a> <a
							class="ui primary button" href="/accountdetails">View Booking</a>
						<a class="ui primary button" th:attr="href=${directionsurl}">Get
							Directions</a>
					</div>
				</div>
				<div th:insert="~{fragments :: bookingsInfo}" id="bookingsInfo"></div>
			</div>

		</div>
	</div>

</body>
</html>