<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate=~{/booking/booking-layout}>

<head>

</head>
<body>

	<div layout:fragment="booking" th:remove="tag">
		<form class="ui form" id="paymentForm" method="Post"
			th:action="@{/booking/complete}">
			<div class="ui stackable grid margin-top-20">


				<div class="row">
					<div class="eleven wide column">
						<div class="ui tiny red message" id="error"></div>
						<div th:insert="~{fragments :: cardsTable}" id="cardsTable"></div>
						<div th:insert="~{fragments :: cardsAdd}" id="cardAddForm"
							class="margin-top-20"></div>

					</div>
					<div class="five wide column">
						<div th:insert="~{fragments :: bookingQuickSummary}"></div>
					</div>
				</div>
				<div class="margin-top-10">
					<button class="ui button" name="back" formnovalidate>Back</button>
					<button class="ui button" name="cancel" formnovalidate>Cancel</button>
					<button class="ui button primary" id="payButton" type="button"
						th:text="'Pay '+${#numbers.formatCurrency(bookingFlow.booking.calculatePrice())}"></button>
				</div>
			</div>
		</form>

	</div>

	<div layout:fragment="script">

		<script>
			$("#error").hide();

			function showError(message) {
				if (message == "") {
					$("#error").html("An Error Occurred");
				} else {
					$("#error").html(message);
				}
				$("#error").show();
			}

			var stripe = Stripe('pk_test_51I0pttDkduQieys2MADcS5sCigV27VmPRFdPHzv2Exo7GwiHxyqEC8BUepCebyCqJZBgPiI1vkScowlNTS0MfjZd00DyUdcLiL');

			// Create an instance of Elements.
			var elements = stripe.elements();

			var style = {
				base : {
					iconColor : '#666EE8',
					color : '#31325F',
					lineHeight : '40px',
					fontWeight : 300,
					fontFamily : 'sans-serif',
					fontSize : '13.5px',

					'::placeholder' : {
						color : '#C0C0C0',
					}
				},
				invalid : {
					color : '#fa755a',
					iconColor : '#fa755a'
				}
			};

			var card = elements.create('card', {
				style : style
			});
			card.mount('#card-element');

			$('#expandCardAdd').click(function() {
				if (cardAddBody.style.display === 'block') {
					$('#cardAddBody').slideUp(function() {
						$('#cardAddBody').css('display', 'none');
					});
					$('#cardExpandSymbol').removeClass("minus").addClass("add");
				} else {

					$('#cardAddBody').slideDown(function() {

						$('#cardAddBody').css('display', 'block');
					});
					$('#cardExpandSymbol').removeClass("add").addClass("minus");
				}
			});

			$('#cardButton').click(

			function() {
				$('#paymentForm').addClass('loading form');
				stripe.createToken(card, {
					owner : {
						name : $('#cardHolderName').val()
					}
				}).then(function(result) {
					if (result.error) {

						// Display error.message in your UI
						//resultContainer.textContent = result.error.message;
					} else {
						// You have successfully created a new PaymentMethod
						//resultContainer.textContent = "Created payment method: " + result.paymentMethod.id;
						$("#cardsTable").load("/addcard?tokenId=" + result.token.id, function() {
							$('#paymentForm').removeClass('loading form');
						});
						$('#cardAddBody').css('display', 'none');
						$('#cardExpandSymbol').removeClass("minus").addClass("add");

					}

				});

			});

			function removeCard(cardId) {
				$('#paymentForm').addClass('loading form');
				$("#cardsTable").load("/removeCard/?cardId=" + cardId, function() {
					$('#paymentForm').removeClass('loading form');
				});
			}

			function setDefaultCard(cardId) {
				$('#paymentForm').addClass('loading form');
				$("#cardsTable").load("/setdefaultcard/?cardId=" + cardId, function() {
					$('#paymentForm').removeClass('loading form');
				});
			}

			var handleAction = function(clientSecret) {
				stripe.handleCardAction(clientSecret).then(function(result) {
					if (result.error) {
						showError("Confirmation Failed");
					} else if (result.paymentIntent.status === "requires_confirmation") {
						completeBooking(result.paymentIntent.id);
					}
				});
			};

			var completeBooking = function(paymentIntentId) {
				$("<input />").attr("type", "hidden").attr("name", "paymentIntentId").attr("value", paymentIntentId).appendTo("#paymentForm");
				$("#paymentForm")[0].submit();

			};

			$('#payButton').click(function(e) {
				if ($('input[type="checkbox"]:checked').length == 0) {
					e.preventDefault();
					showError("Please select a card");
				} else {
					$('#payButton').addClass("loading");
					$.ajax({
						type : "POST",
						data : $("#paymentForm").serialize(),
						url : "/booking/payment/",
						success : function(response) {
							$('#payButton').removeClass("loading");
							if (response.status == "requires_payment_method") {
								showError("Payment Failed");
							} else if (response.status == "requires_action") {
								// Request authentication
								handleAction(response.clientSecret);
							} else {
								stripe.retrievePaymentIntent(response.clientSecret).then(function(result) {
									completeBooking(result.paymentIntent.id);
								});
							}
						}
					});
				}
			});

			$('.ui.checkbox').checkbox();

			$('body').on('change', 'input[type="checkbox"]', function() {
				$('input[type="checkbox"]').not(this).prop('checked', false);
			});
		</script>
	</div>

</body>
</html>