body {
	padding-top: 47px;
}

.ui.container {
	margin-top: 90px !important;
	margin-bottom: 40px !important;
}

.padding-sides-14 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.display-none {
	display: none;
}

.summary tr td:first-child {
	padding-right: 25px !important;
}

.margin-0 {
	margin: 0px !important;
}

.margin-10 {
	margin: 10px !important;
}

.margin-20 {
	margin: 20px !important;
}

.padding-0 {
	padding: 0px !important;
}

.padding-50 {
	padding: 50px;
}

.padding-20 {
	padding: 20px;
}

.padding-left-10 {
	padding: 10px;
}

.padding-right-0 {
	padding-right: 0px !important;
}

.margin-sides-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}

.margin-left-15 {
	margin-left: 15px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.card-body {
	padding: 15px !important;
}

.blue {
	color: #4183c4;
}

.main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.wide.main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
}

.ui.large.top.fixed.menu.darkblue {
	background-color: #263A61;
	box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.4);
	z-index: 500;
	height: 47px !important;
}

#map-container {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#map-container:before {
	content: "";
	height: 100vh !important;
	left: 0;
	position: absolute;
	width: 20px;
	box-shadow: 4px 0 5px -4px rgba(0, 0, 0, 0.5) inset;
	z-index: 5;
}

.gm-fullscreen-control {
	display: none;
}

body.pushable>.pusher {
	background: #fff;
}

#map {
	width: 100%;
	height: 100%;
	float: right;
}

.ui-timepicker-container {
	z-index: 10 !important;
}

/* #backbar {
	overflow: hidden;
	position: fixed;
	background: #F0F0F0;
	height: 40px;
	width: 100%;
	padding-left: 13px;
	padding-top: 12px;
	text-align: left;
	border: 1px solid #B8B8B8;
	display: none;
	z-index: 1;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.2);
}
 */
.search {
	flex-grow: 1 !important;
	max-width: 350px !important;
}

#backbar {
	background: #F0F0F0;
	border: 1px solid #B8B8B8 !important;
	display: none;
	z-index: 1;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.2);
}

#nearest {
	padding: 25px 25px 25px 25px;
	display: block;
	width: 100%;
	height: 100%;
	height: 100%;
}

.pointer {
	cursor: pointer;
}

#details {
	width: 100%;
	height: 100%;
	padding: 60px 25px 25px 25px;
	display: none;
}
/*
#sideInfo {
	position: fixed;
 	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	transition: 0.4s; 
}*/
#expand {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 20px; /* 5px for the mouse cursor update size */
	background: #FFFFFF;
	z-index: 100;
	float: right;
}

#expand:hover {
	cursor: pointer;
	transition: 0.4s;
	-webkit-box-shadow: 15px 0px 20px -5px rgba(0, 0, 0, 0.18);
	box-shadow: 15px 0px 20px -5px rgba(0, 0, 0, 0.18);
}

/* .ui.sidebar.visible ~ .pusher>#expand {
	width: 0;
}

.ui.sidebar.visible ~ .pusher>#map-container {
	left: 0;
}

.ui.sidebar.visible ~ .pusher>#arrow {
	left: 0;
} */

/* #arrow:hover ~ #expand {
	cursor: pointer;
	transition: 0.4s;
	-webkit-box-shadow: 15px 0px 20px -5px rgba(0, 0, 0, 0.18);
	box-shadow: 15px 0px 20px -5px rgba(0, 0, 0, 0.18);
} */
#arrow:hover {
	-webkit-box-shadow: 11px 0px 30px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 11px 0px 30px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#arrow {
	position: fixed;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
	float: right;
	z-index: 100;
	transition: 500ms ease;
}

.markerdesign {
	width: 60px;
	height: 27px;
	border: 2px solid #336C9D;
	border-radius: 10px;
	background: #FFFFFF;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 15px;
	color: #336C9D;
}

.markerdesignhover {
	width: 60px;
	height: 27px;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	background: #336C9D;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
}

.ui.segment.tiles:hover {
	background: #E8E8E8;
	cursor: pointer;
}

a[href^="http://maps.google.com/maps"] {
	display: none !important
}

a[href^="https://maps.google.com/maps"] {
	display: none !important
}

.gm-style-cc {
	display: none;
}

th {
	font-weight: normal !important;
}

.pointer {
	cursor: pointer;
}

.group {
	background: white;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	margin: 10px;
}

.field::-webkit-input-placeholder {
	color: #C0C0C0;
}

.field::-moz-placeholder {
	color: #C0C0C0;
}

.field {
	background: transparent;
	font-weight: 300;
	color: #31325F;
	flex: 1;
	cursor: text;
	padding-right: 10px;
	padding-left: 10px;
}

.borderless {
	border: none !important;
	outline: none !important;
}

.padding-20 {
	padding: 20px !important;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.time-field-sm {
	background: transparent;
	font-weight: 300;
	border-radius: 5px;
	border: 1px solid #dee2e6;
	color: #31325F;
	line-height: 30px;
	flex: 1;
	text-align: center;
	cursor: text;
}

label>span {
	width: 100px;
	text-align: right;
	margin-right: 20px;
}

.leftlabel {
	position: relative;
	color: #8898AA;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	display: flex;
	flex-direction: row;
}

input[type="radio"] {
	margin-top: -3px;
	vertical-align: middle;
}

.toplabel {
	position: relative;
	color: #8898AA;
	font-weight: 300;
	height: 20px;
	line-height: 5px;
	display: flex;
	flex-direction: row;
}

.padding-sides-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.float-right {
	float: right;
}

input[type="text"][disabled] {
	background-color: #E0E0E0 !important;
}

input[type="text"][disabled]::-webkit-input-placeholder {
	color: #181818 !important;
}

tr.border_bottom td {
	border-bottom: 1px solid #dee2e6;
}

.red {
	color: #C70000;
}

.grey {
	color: #8898AA !important;
}

.green {
	color: #4BB543;
}

.underline:hover {
	text-decoration: underline;
}

.vertical-middle {
	vertical-align: middle !important;
}

.min-height-800 {
	min-height: 600px;
}

.border-left {
	border-left: 1px solid #e8e9e9 !important;
}

.no-border {
	border: none !important;
}

.ui.grid {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.ui.sidebar {
	background: #fff;
	top: 47px;
}

.pusher {
	height: 100% !important;
	width: 100% !important;
	overflow-y: auto !important;
}

.ui.sidebar::-webkit-scrollbar {
	display: none;
}

#homeSidebar ~ .pusher>#arrow {
	transform: translate3d(0, 0%, 0);
}

#homeSidebar.visible ~ .pusher>#arrow {
	transform: translate3d(355px, 0%, 0);
}

#navSidebar {
	z-index: 400 !important;
	top: 47px;
	background-color: #263A61;
}

.ui.comments {
	max-width: 100% !important;
	max-height: 400px !important;
	overflow-y: scroll !important;
	padding: 10px !important;
}

.pac-container:after {
	background-image: none !important;
	height: 0px;
}

.ui.accordion .title, .ui.accordion .content {
	padding: 0 !important;
}

@media screen and (min-width: 800px) {
	.ui.visible.sidebar {
		width: 350px !important;
	}
	/*  	.ui.visible.sidebar 
		 ~ .pusher {
		transform: translate3d(350px, 0, 0) !important;
	}  */
	.ui.container.login {
		width: 600px;
	}

}

@media screen and (max-width: 800px) {
	/* 
	.login {
		margin-top: 40px !important;
		margin-bottom: 40px !important;
		margin-left: 10px !important;
		margin-right: 10px !important;
		width: auto !important;
		height: auto !important;
	} */
	.ui.visible.sidebar {
		width: 100% !important;
	}
	.x {
		display: block !important;
	}
	.pusher::-webkit-scrollbar {
		display: none;
	}
	.hidden-mobile {
		display: none !important;
	}
 	.ui.tabular.menu .item {
		padding-left: 1em !important;
		padding-right: 1em !important;
	} 
	.ui.ordered.steps .step:before {
		margin-right: 0 !important;
	}
	.segment-padding-5 {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

}