<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">


<body>

	<div layout:fragment="content" th:remove="tag">

		<div class="pusher" style="min-height: 1400px;">
			<div class="ui container">


				<div th:if="${param.success}">
					<div class="ui positive message margin-bottom-10">
						<i class="close icon"></i> Car park submitted successfully
					</div>
				</div>

				<form th:action="@{/addcarpark}" method="post"
					th:object="${carpark}" class="ui form" id="addCarParkForm">

					<input type="hidden" th:field="*{carParkId}">

					<div class="ui segment">
						<div class="ui top attached label secondary">Details</div>
						<div class="equal width fields">

							<div class="field">

								<label> Name: </label><input type="text" id="name"
									th:field="*{name}" placeholder="Enter a name" required
									autofocus="autofocus" />
							</div>
						</div>

						<div class="two fields">

							<div class="field">
								<label>Email: </label><input type="text" id="email"
									th:field="*{email}" placeholder="email@example.com" required
									autofocus="autofocus" />
							</div>
							<div class="field">
								<label> Serial Number: </label><input type="text" id="name"
									th:field="*{serialNumber}" placeholder="Enter a name" required
									autofocus="autofocus" />
							</div>
						</div>


						<div class="two fields">
							<div class="field">
								<label for="address1"> Address 1:</label> <input type="text"
									id="address1" th:field="*{carParkAddress1}" required
									placeholder="Address line 1" autofocus="autofocus" />
							</div>


							<div class="field">
								<label for="firstname"> Address 2:</label> <input type="text"
									id="address2" th:field="*{carParkAddress2}"
									placeholder="Address line 2" required autofocus="autofocus" />
							</div>
						</div>

						<div class="two fields">
							<div class="field">
								<label for="address3">City: </label><input type="text"
									id="address3" th:field="*{carParkCity}"
									placeholder="Address line 3" required autofocus="autofocus" />
							</div>
							<div class="field">
								<label for="postcode">Postcode: </label> <input type="text"
									id="postcode" th:field="*{carParkPostcode}"
									placeholder="Address postcode" required autofocus="autofocus" />
							</div>
						</div>
					</div>


					<div class="ui segment">
						<div class="ui top attached label secondary">Spaces &
							Pricing</div>
						<div class="two fields">
							<div class="field">
								<label for="noofspaces">Total spaces:</label><input
									type="number" id="noofspaces" max="200" th:field="*{spaces}"
									placeholder="Number of spaces available" required
									autofocus="autofocus">
							</div>
							<div class="field">
								<label for="noofdisabled">Disabled spaces:</label><input
									type="number" id="noofdisabled" max="200"
									th:field="*{isDisabled}"
									placeholder="Number of disabled spaces" required
									autofocus="autofocus">
							</div>
						</div>

						<div class="two fields">
							<div class="field">
								<label for="Amount"> Parking cost:</label>
								<div class="ui labeled input">
									<label class="ui label">£</label><input type="number"
										min="0.00" max="10000.00" step="0.01" id="Amount"
										th:field="*{price}" placeholder="0.00" required
										autofocus="autofocus">
								</div>
							</div>
							<div class="field">
								<label for="Rate">Parking Rate:</label>
								<div class="ui radio">
									<input type="radio" th:field="*{rate}" th:value="HOUR"
										name="options" id="option1" autocomplete="off" checked>&nbsp;
									Hourly Rate &nbsp;&nbsp;&nbsp; <input type="radio"
										th:field="*{rate}" th:value="HALFHOUR" name="options"
										id="option2" autocomplete="off">&nbsp; 30 Minute Rate
								</div>
							</div>
						</div>

						<div class="three fields">
							<div class="eight wide field">
								<label for="Amount"> Enable bookings for future weeks:</label>
								<div class="ui labeled input">
									<label class="ui label"><i
										class="fitted calendar outline icon"></i></label><input type="number"
										min="1" max="52" step="1" id="Amount" placeholder="1" required
										th:field="*{enableFutureWeeks}" autofocus="autofocus">
								</div>
							</div>
							<div class="two wide field">
								<div class="ui checkbox">
									<input id="dynamicPricingCheckbox" type="checkbox" value=""
										th:field="*{dynamicPricing}"
										th:checked="*{dynamicPricing != null}"> <label
										for="height">Dynamic Pricing: </label>
								</div>
							</div>
							<div class="six wide field">
								<label>Target revenue/week:</label>
								<div class="ui labeled input">
									<label class="ui label">£</label><input type="number"
										min="0.00" max="10000.00" step="0.01" id="targetRevenue"
										th:field="*{targetRevenue}"
										th:disabled="*{targetRevenue == null}" placeholder="0.00"
										autofocus="autofocus">
								</div>
							</div>
						</div>
					</div>
					<div class="ui segment">
						<div class="ui top attached label secondary">Additional
							Information</div>
						<div class="two fields">
							<div class="field">

								<label>Access Control:</label> <select class="ui fluid dropdown"
									th:field="*{accessControl}" required="required">
									<option th:each="accessType : ${accessTypes}"
										th:value="${accessType}" th:text="${accessType}"></option>
								</select>
								<div class="ui checkbox margin-top-10">
									<input id="heightCheckbox" type="checkbox" value=""
										th:checked="*{heightRestriction != null}"> <label
										for="height">Max Height Restriction: </label>
								</div>
								<div class="ui right labeled input margin-top-10">
									<input type="number" id="heightRestriction"
										placeholder="Max Height Restriction" autofocus="autofocus"
										th:field="*{heightRestriction}"
										th:disabled="*{heightRestriction == null}" /> <label
										class="ui label">Metres</label>
								</div>
							</div>

							<div class="field">
								<label>Description</label>
								<textarea th:field="*{description}" rows="5"></textarea>
							</div>
						</div>
					</div>

					<div class="ui segment">
						<div class="ui top attached label secondary">Opening hours</div>
						<div class="fields">
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" value="" id="247"> <label>
										24/7 </label>
								</div>
							</div>
							<div class="three wide field">
								<div class="ui checkbox">
									<input type="checkbox" value="" id="7to6"> <label>
										Business Hours </label>
								</div>
							</div>
						</div>
						<div class="fields timerow">
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkMonday"
										th:checked="*{MondayFrom != null} OR *{MondayTo != null}">
									<label> Monday </label>
								</div>
								<div>
									<label class="toplabel margin-top-10" for="Rate"> From:
									</label> <input th:disabled="*{MondayFrom == null}" type="text"
										class="time-field-sm time open" id="MondayFrom"
										th:field="*{MondayFrom}" placeholder="Closed" required
										autofocus="autofocus" /> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{MondayTo}"
										class="time-field-sm time closed" id="MondayTo"
										placeholder="Closed" th:disabled="*{MondayTo == null}"
										required autofocus="autofocus" />
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkTuesday"
										th:checked="*{TuesdayFrom != null} OR *{TuesdayTo != null}">
									<label class="control-label" for="Rate"> Tuesday: </label>
								</div>
								<div>
									<label class="toplabel margin-top-10" for="Rate"> From:
									</label> <input th:disabled="*{TuesdayTo == null}"
										th:field="*{TuesdayFrom}" type="text"
										class="time-field-sm time open" id="TuesdayFrom"
										placeholder="Closed" required autofocus="autofocus"> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{TuesdayTo}"
										class="time-field-sm time closed" id="TuesdayTo"
										placeholder="Closed" required
										th:disabled="*{TuesdayFrom == null}" autofocus="autofocus"
										step="60">
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkWednesday"
										th:checked="*{WednesdayFrom != null} OR *{WednesdayTo != null}">
									<label> Wednesday: </label>
								</div>
								<div>
									<label class="toplabel margin-top-10" for="Rate"> From:
									</label> <input th:disabled="*{WednesdayFrom == null}"
										th:field="*{WednesdayFrom}" type="text"
										class="time-field-sm time open" id="WednesdayFrom"
										placeholder="Closed" required autofocus="autofocus" /> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{WednesdayTo}"
										class="time-field-sm time closed" id="WednesdayTo"
										placeholder="Closed" required
										th:disabled="*{WednesdayTo == null}" autofocus="autofocus" />
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkThursday"
										th:checked="*{ThursdayFrom != null} OR *{ThursdayTo != null}">
									<label class="control-label" for="Rate"> Thursday: </label>
								</div>
								<div>
									<label class="toplabel margin-top-10" for="Rate"> From:
									</label> <input th:disabled="*{ThursdayFrom == null}"
										th:field="*{ThursdayFrom}" type="text"
										class="time-field-sm time open" id="ThursdayFrom"
										placeholder="Closed" required autofocus="autofocus" /> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{ThursdayTo}"
										class="time-field-sm time closed" id="ThursdayTo"
										placeholder="Closed" required
										th:disabled="*{ThursdayTo == null}" autofocus="autofocus" />
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkFriday"
										th:checked="*{MondayTo != null} OR *{MondayFrom != null}">
									<label class="control-label" for="Rate"> Friday: </label>
								</div>
								<div>
									<label class="toplabel margin-top-10" for="Rate"> From:
									</label> <input th:disabled="*{FridayFrom == null}"
										th:field="*{FridayFrom}" type="text"
										class="time-field-sm time open" id="FridayFrom"
										placeholder="Closed" required autofocus="autofocus" /> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{FridayTo}"
										class="time-field-sm time closed" id="FridayTo"
										placeholder="Closed" required
										th:disabled="*{FridayTo == null}" autofocus="autofocus" />
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" value=""
										id="checkSaturday"
										th:checked="*{SaturdayFrom != null} OR *{SaturdayTo != null}">
									<label for="Rate"> Saturday: </label>
								</div>
								<div>
									<label class="toplabel margin-top-10"> From: </label> <input
										th:disabled="*{SaturdayFrom == null}"
										th:field="*{SaturdayFrom}" type="text"
										class="time-field-sm time open" id="SaturdayFrom"
										placeholder="Closed" required autofocus="autofocus" /> <label
										class="toplabel margin-top-10"> To: </label> <input
										type="text" th:field="*{SaturdayTo}"
										class="time-field-sm time closed" id="SaturdayTo"
										placeholder="Closed" required
										th:disabled="*{SaturdayTo == null}" autofocus="autofocus" />
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox">
									<input class="days-checkbox" type="checkbox" id="checkSunday"
										th:checked="*{SundayFrom != null} OR *{SundayTo != null}">
									<label> Sunday</label>
								</div>
								<div>
									<label class="toplabel margin-top-10"> From: </label> <input
										th:disabled="*{SundayFrom == null}" th:field="*{SundayFrom}"
										type="text" class="time-field-sm time open" id="SundayFrom"
										placeholder="Closed" required autofocus="autofocus" /> <label
										class="toplabel margin-top-10" for="Rate"> To: </label> <input
										type="text" th:field="*{SundayTo}"
										th:disabled="*{SundayTo == null}"
										class="time-field-sm time closed" id="SundayTo"
										placeholder="Closed" required autofocus="autofocus" />
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<th:block th:if="${carpark.carParkId == 0}">
							<button class="ui button primary" type="button"
								onclick="submitModal()">Submit for approval</button>
						</th:block>
						<th:block th:unless="${carpark.carParkId == 0}">
							<button class="ui button primary" type="button"
								onclick="submitModal()">Submit changes for approval</button>
						</th:block>
					</div>


					<div class="ui tiny modal" id="submitcarpark">
						<div class="header">
							<h5>Submit Car Park</h5>
						</div>
						<div class="content">
							<p>You are about to submit this car park for approval</p>
						</div>
						<div class="actions">
							<button type="button" class="ui deny button">Close</button>
							<button type="submit" form="addCarParkForm"
								class="ui ok primary button">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div layout:fragment="script">

		<script type="text/javascript">
			$(document).ready(function() {
				$('#success').hide();
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.has('success')) {
					$('#success').show();
					setTimeout(function() {
						$('#success').slideUp(350, function() {
							if ($('#success').css('display') == 'none') {
								window.location.href = window.location.href.split("?")[0]
							}
						});
					}, 5000);
				}
			});

			$(document).ready(function() {
				$('.time').timepicker({
					maxTime : '23:59:00',
					scrollbar : true,
					disableTextInput : true,
					listWidth : 1,
					timeFormat : 'HH:mm',
					interval : 1,

					change : function() {
						$('#247').prop('checked', false);
						$('#7to6').prop('checked', false);
					}
				})

				$('.timerow .form-check-input').change(function() {
					$('#247').prop('checked', false);
					$('#7to6').prop('checked', false);
				});

				$('#247').change(function() {
					if ($('#247').is(':checked')) {
						$('.timerow .days-checkbox').prop('checked', true);
						$('.time.open').val('00:00');
						$('.time.closed').val('23:59');
						$('.timerow .time').prop('disabled', false);
						$('#7to6').prop('checked', false);
					} else {
						$('.time').val(null);
						$('.timerow .days-checkbox').prop('checked', false);
						$('.timerow .time').prop('disabled', true);

					}
				});

				$('#7to6').change(function() {
					if ($('#7to6').is(':checked')) {
						$('.timerow .days-checkbox').prop('checked', true);
						$('.time.open').val('07:00');
						$('.time.closed').val('18:00');
						$('.timerow .time').prop('disabled', false);
						$('#247').prop('checked', false);
					} else {
						$('.time').val(null);
						$('.timerow .days-checkbox').prop('checked', false);
						$('.timerow .time').prop('disabled', true);

					}
				});

				$('#checkMonday').change(function() {
					if ($('#checkMonday').is(':not(:checked)')) {
						$('#MondayFrom').prop('disabled', true).val(null);
						$('#MondayTo').prop('disabled', true).val(null).removeClass('.time');

					} else {
						$('#MondayFrom').prop('disabled', false);
						$('#MondayTo').prop('disabled', false);
					}
				});
				$('#checkTuesday').change(function() {
					if ($('#checkTuesday').is(':not(:checked)')) {
						$('#TuesdayFrom').prop('disabled', true).val(null);
						$('#TuesdayTo').prop('disabled', true).val(null);
					} else {
						$('#TuesdayFrom').prop('disabled', false);
						$('#TuesdayTo').prop('disabled', false);
					}
				});
				$('#checkWednesday').change(function() {
					if ($('#checkWednesday').is(':not(:checked)')) {
						$('#WednesdayFrom').prop('disabled', true).val(null);
						$('#WednesdayTo').prop('disabled', true).val(null);
					} else {
						$('#WednesdayFrom').prop('disabled', false);
						$('#WednesdayTo').prop('disabled', false);
					}
				});
				$('#checkThursday').change(function() {
					if ($('#checkThursday').is(':not(:checked)')) {
						$('#ThursdayFrom').prop('disabled', true).val(null);
						$('#ThursdayTo').prop('disabled', true).val(null);
					} else {
						$('#ThursdayFrom').prop('disabled', false);
						$('#ThursdayTo').prop('disabled', false);
					}
				});
				$('#checkFriday').change(function() {
					if ($('#checkFriday').is(':not(:checked)')) {
						$('#FridayFrom').prop('disabled', true).val(null);
						$('#FridayTo').prop('disabled', true).val(null);
					} else {
						$('#FridayFrom').prop('disabled', false);
						$('#FridayTo').prop('disabled', false);
					}
				});
				$('#checkSaturday').change(function() {
					if ($('#checkSaturday').is(':not(:checked)')) {
						$('#SaturdayFrom').prop('disabled', true).val(null);
						$('#SaturdayTo').prop('disabled', true).val(null);
					} else {
						$('#SaturdayFrom').prop('disabled', false);
						$('#SaturdayTo').prop('disabled', false);
					}
				});

				$('#checkSunday').change(function() {
					if ($('#checkSunday').is(':not(:checked)')) {
						$('#SundayFrom').prop('disabled', true).val(null);
						$('#SundayTo').prop('disabled', true).val(null);
					} else {
						$('#SundayFrom').prop('disabled', false);
						$('#SundayTo').prop('disabled', false);
					}
				});
			});

			$('.message .close').on('click', function() {
				$(this).parent().hide();
			});

			function submitModal() {
				$('#submitcarpark').modal('show');
			}

			$("#heightCheckbox").change(function() {
				if ($("#heightCheckbox").is(":checked")) {
					$("#heightRestriction").prop('disabled', false)
				} else {
					$("#heightRestriction").prop('disabled', true)
				}
			})

			$("#dynamicPricingCheckbox").change(function() {
				if ($("#dynamicPricingCheckbox").is(":checked")) {
					$("#targetRevenue").prop('disabled', false)
				} else {
					$("#targetRevenue").prop('disabled', true)
				}
			})
		</script>
	</div>

</body>
</html>