<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<head>

</head>
<body>

	<!--  Navigation Bar -->



	<!--  HTML registration form -->
	<div layout:fragment="content" th:remove="tag">
		<div class="pusher">

			<div class="ui container">
				<div class="padding-sides-14">
					<div
						th:replace="~{bookingfragment :: bookingFlowSteps(${bookingFlow})}"></div>
				</div>
				<form class="" method="post" th:action="@{/booking/dates}" id="form"
					th:object="${bookingFlow.booking}">
					<div class="ui stackable grid margin-top-20">

						<div class="row">
							<div class="eleven wide column">


								<th:block th:if="${#fields.hasErrors('endTime')}">
									<div class="ui tiny red message">
										<div th:errors="*{endTime}"></div>
									</div>
								</th:block>

								<div class="ui segments">

									<div class="ui top attached label secondary">Select Dates</div>


									<div class="ui segment segment-padding-5"
										style="padding-top: 1.5em;">



										<div class="ui grid">
											<div class="row"
												th:if="${bookingFlow.booking.carParks.getDisabledSpots().size() > 0}">
												<div class="column">
													<div class="ui toggle checkbox">
														<input type="checkbox" th:field="*{isDisabled}"
															id="checkSunday"> <label for="Rate">
															Disabled space </label>
													</div>
												</div>
											</div>

											<div class="equal width row">
												<div class="column ui labeled input">

													<label class="toplabel" for="Rate"> From: </label>

													<div class="ui labeled fluid input">
														<label class="ui label padding-right-0"><i
															class="calendar outline icon hidden-mobile"></i> </label><input
															type="text" class="datepicker field open" name="start"
															required autofocus="autofocus" id="startDatePicker"
															placeholder="dd/mm/yy"
															th:value="${#temporals.format(bookingFlow.booking.startDate, 'dd/MM/yyyy')}"
															readonly> <input type="hidden"
															id="altStartDatePicker" th:field="*{startDate}">
													</div>

													<div
														class="ui labeled fluid input time-fields margin-top-10">
														<label class="ui label padding-right-0"><i
															class="clock icon hidden-mobile"></i> </label><input type="text"
															class="field time" id="startTimePicker"
															placeholder="--:--" autofocus="autofocus"
															th:field="*{startTime}" readonly>
													</div>

												</div>
												<div class="column">
													<label class="toplabel" for="Rate">To:</label>
													<div class="ui labeled fluid input">
														<label class="ui label padding-right-0"><i
															class="calendar outline icon hidden-mobile"></i> </label><input
															type="text" class="field" required autofocus="autofocus"
															id="endDatePicker" placeholder="dd/mm/yy"
															th:value="${#temporals.format(bookingFlow.booking.endDate, 'dd/MM/yyyy')}"
															readonly> <input type="hidden"
															id="altEndDatePicker" th:field="*{endDate}">
													</div>

													<div
														class="ui labeled fluid input time-fields margin-top-10">
														<label class="ui label padding-right-0"><i
															class="time icon hidden-mobile"></i> </label><input type="text"
															class="field time" id="endTimePicker" placeholder="--:--"
															autofocus="autofocus" th:field="*{endTime}" readonly>
													</div>


												</div>
												<input type="hidden"
													th:value="${bookingFlow.booking.carParks.parkingRate}"
													id="rate">
											</div>
										</div>
									</div>
								</div>




							</div>
							<div class="five wide column">
								<div th:insert="~{bookingfragment :: quickSummary}"></div>
							</div>
						</div>

						<div>

							<button class="ui button" type="submit" name="cancel"
								formnovalidate>Cancel</button>
							<button type="submit" class="ui primary button" id="next">&nbsp;
								Next &nbsp;</button>
						</div>



					</div>
				</form>
			</div>


		</div>

	</div>
	<div layout:fragment="script">
		<script type="text/javascript">
			$(document)
					.ready(
							function() {

								var interval;

								if ($('#rate').val() == "HOUR") {
									interval = 60;
								} else {
									interval = 30;
								}

								const startDatePicker = $("#startDatePicker")
										.datepicker(
												{
													// beforeShowDay: function(date) {

													//     return [date.getDay() == 6 || date.getDay() == 0,""];
													//},
													dateFormat : "dd/mm/yy",
													altFormat : 'yy-mm-dd',
													altField : "#altStartDatePicker",
													minDate : 0,
													onSelect : function() {
																endDatePicker
																		.datepicker(
																				"option",
																				"minDate",
																				getDate(this)),
																endDatePicker
																		.datepicker(
																				"option",
																				"maxDate",
																				getDate(this)),
																endDatePicker
																		.datepicker(
																				"setDate",
																				getDate(this))

														getOpeningTimes(getDayOfWeek($(
																this)
																.datepicker(
																		'getDate')));
														resetDates();

														$('.time-fields')
																.slideDown();
													}

												})

								startDatePicker.blur(); //to avoid bug

								const endDatePicker = $("#endDatePicker")
										.datepicker({
											dateFormat : "dd/mm/yy",
											altFormat : 'yy-mm-dd',
											altField : "#altEndDatePicker",
											minDate : 0
										})

								if ($("#startDatePicker").val() == "") {
									$('.time-fields').hide();
								} else {
									getOpeningTimes(getDayOfWeek($(
											"#startDatePicker").datepicker(
											'getDate')));
									endDatePicker.datepicker("option",
											"minDate", $("#startDatePicker")
													.datepicker('getDate'))
									endDatePicker.datepicker("option",
											"maxDate", $("#startDatePicker")
													.datepicker('getDate'))
								}

								const startTimePicker = $("#startTimePicker")
										.timepicker(
												{
													scrollbar : true,
													interval : 15,
													dynamic : false,
													disableTextInput : true,
													listWidth : 1,
													timeFormat : 'HH:mm',
													change : function() {

														endTimePicker
																.timepicker(
																		'option',
																		'startTime',
																		$(this)
																				.timepicker(
																						'getTime'));

														endTimePicker
																.timepicker(
																		'option',
																		'interval',
																		interval);

														endTimePicker
																.timepicker(
																		'option',
																		'minTime',

																		moment(
																				$(
																						this)
																						.val(),
																				'HH:mm:ss')
																				.add(
																						interval,
																						'minutes')
																				.format(
																						'HH:mm:ss'));

														if ($('#endTimePicker')
																.val() != "") {

															if (startTimePicker
																	.val() > endTimePicker
																	.val()) {
																endTimePicker
																		.val(
																				moment(startTimePicker
																						.val(),
																				'HH:mm:ss').add(
																				interval, 'minutes')
																				.format('HH:mm'));
															}
															
															updatePrice();
														}
													}
												})

								const endTimePicker = $("#endTimePicker")
										.timepicker({
											scrollbar : true,
											dynamic : false,
											disableTextInput : true,
											listWidth : 1,
											timeFormat : 'HH:mm',
											change : function() {
												updatePrice();
											}
										});

								function getOpeningTimes(dayOfWeek) {
									$
											.ajax({
												type : "POST",
												data : {
													"dayOfWeek" : dayOfWeek
												},
												url : '/booking/dates?endDate',
												success : function(carParkTime) {

													if (carParkTime.openTime != '00:00:00'
															&& carParkTime.closeTime != '00:00:00') {
														disableTimes(false);
														setTimes(
																carParkTime.openTime,
																carParkTime.closeTime);

													}
													if (carParkTime.openTime == null
															&& carParkTime.closeTime == null) {
														disableTimes(true);
													}
												},
												error : function(response) {
													console.log(response);
												}
											});
								}

								function disableTimes(value) {
									$("#startTimePicker").prop('disabled',
											value);
									$("#endTimePicker").prop('disabled', value);

									$('#next').prop('disabled', value);

									if (value) {
										$("#startTimePicker").attr(
												'placeholder', 'Closed');
										$("#endTimePicker").prop('placeholder',
												'Closed');
									} else {
										$("#startTimePicker").attr(
												'placeholder', '--:--');
										$("#endTimePicker").prop('placeholder',
												'--:--');
									}

								}

								function setTimes(open, close) {

									startTimePicker.timepicker('option',
											'minTime', open)
									startTimePicker.timepicker('option',
											'maxTime',
											moment(close, 'hh:mm:ss').subtract(
													interval, 'minutes')
													.format('hh:mm:ss'))

									endTimePicker.timepicker('option',
											'maxTime', close)

									if ($('#startTimePicker').val() != "") {
										endTimePicker.timepicker('option',
												'minTime', moment(
														startTimePicker.val(),
														'HH:mm:ss').add(
														interval, 'minutes')
														.format('HH:mm:ss'))
									} else {
										endTimePicker.timepicker('option',
												'minTime', moment(open,
														'HH:mm:ss').add(
														interval, 'minutes')
														.format('HH:mm:ss'))
									}

								}

								function resetDates() {
									startTimePicker.val(null);
									endTimePicker.val(null);
								}

								function getDate(element) {
									var date;
									try {
										date = $.datepicker.parseDate(
												"dd/mm/yy", element.value);
									} catch (error) {
										date = null;
									}
									return date;
								}

								function getDayOfWeek(seldate) {
									seldate = seldate.toDateString();
									seldate = seldate.split(' ');
									var weekday = new Array();
									weekday['Mon'] = "MONDAY";
									weekday['Tue'] = "TUESDAY";
									weekday['Wed'] = "WEDNESDAY";
									weekday['Thu'] = "THURSDAY";
									weekday['Fri'] = "FRIDAY";
									weekday['Sat'] = "SATURDAY";
									weekday['Sun'] = "SUNDAY";
									return weekday[seldate[0]];
								}

								function updatePrice() {
									const url = '/booking/dates?prices';
									const data = $("#form").serialize();

									$.ajax({
										type : "POST",
										data : $("#form").serialize(),
										url : '/booking/dates?prices',
										success : function(result) {
											$("#quickSummary").replaceWith(
													result);
										}
									});
								}

							});
		</script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
			integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
			crossorigin="anonymous"></script>
	</div>

</body>
</html>