<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<head>

</head>
<body>

	<!--  HTML registration form -->
	<div layout:fragment="content" th:remove="tag">
		<div class="pusher">


			<div class="ui container">
				<div class="padding-sides-14">
					<div
						th:replace="~{bookingfragment :: bookingFlowSteps(${bookingFlow})}"></div>

				</div>
				<form method="post" th:action="@{/booking/review}">
					<div class="ui stackable grid margin-top-20">
						<div class="row">
							<div class="eleven wide column">
								<div class="ui segments">
									<div class="ui top attached label inverted blue">Booking
										Summary</div>

									<div class="ui segment">
										<div th:insert="~{bookingfragment :: review}"></div>

									</div>
								</div>

								<div th:insert="~{bookingfragment :: t&c}"></div>
							</div>

							<div class="five wide column">

								<div th:insert="~{bookingfragment :: quickSummary}"></div>

							</div>

						</div>


						<div class="margin-top-10">
							<button class="ui button" type="submit" name="back"
								formnovalidate>Back</button>
							<button type="submit" class="ui button primary">Continue
								to payment</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>