<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<head>

</head>
<body>

	<!--  Navigation Bar -->



	<!--  HTML registration form -->
	<div layout:fragment="content">

		<div class="main">


			<div class="ui segments">
				<div class="ui top segment secondary"><i class="check icon"></i>&nbsp;Booking Success</div>
				<div class="ui segment">
				
					<p th:text="'Booking ID: '+ ${bookingFlow.booking.bookingId}"></p>
					<p th:text="'Car Park: '+ ${bookingFlow.booking.carParks.name}"></p>
					<a class="ui button" href="/home">Back Home</a>
					<!-- <a class="ui primary button" th:unless="${session.bookingFlow == null}" href="/clear?page=accountdetails">View Booking</a> -->
					<a class="ui primary button" th:if="${session.bookingFlow == null}" href="/accountdetails">View Booking</a>
					<a class="ui primary button" th:unless="${session.bookingFlow == null}" href="/clear?page=accountdetails">View Booking</a>
				</div>
			</div>

		</div>



		<br> <br>
	</div>

	<div layout:fragment="script"></div>

</body>
</html>