<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<head>

</head>

<body>

	<div layout:fragment="content">
		<div id="nearest" class="sideInfo margin-bottom-40">
			<h5>Closest Car Parks</h5>
			<hr class="solid">
		</div>

		<div id="backbar" class="shadow">
			<a id="backbutton" class="pointer"> <i
				class="chevron left icon" style="margin-right:1px;"></i>Back
			</a>
		</div>

		<div id="details" class="sideInfo">

			<div class="ui segment">
				<h2 id="carparkname"></h2>
			</div>

			<div class="form-group">
				<a id="reservebutton" class="ui primary button fluid" href=""><i
					class="far fa-calendar-check fa-lg "></i>&nbsp; Reserve</a>
			</div>


			<table class="ui very basic table margin-top-10">
				<tbody>
					<tr>

						<td class="align-top"><i class="far fa-address-book fa-lg"></i></td>
						<td class="align-top">Address:</td>
						<td id="address"></td>
					</tr>
					<tr>
						<td><i class="far fa-clock fa-lg"></i></td>
						<td>Rate:</td>
						<td id="parkingrate"></td>
					</tr>
					<tr>
						<td><i class="fas fa-pound-sign fa-lg"></i></td>
						<td>Price:</td>
						<td id="price"></td>
					</tr>
					<tr>
						<td><i class="fas fa-car-side fa-lg"></i></td>
						<td>Spaces:</td>
						<td id="spaces"></td>
					</tr>
					<tr>
						<td><i class="fas fa-wheelchair fa-lg"></i></td>
						<td>Disabled:</td>
						<td id="disabled"></td>
					</tr>
					<tr>
						<td><i class="far fa-envelope fa-lg"></i></td>
						<td>Email:</td>
						<td id="email"></td>
					</tr>
				</tbody>
			</table>



			<hr class="solid">

			<table class="ui very basic table margin-top-10 margin-bottom-30">
				<thead>
					<th><i class="far fa-calendar-alt fa-lg"></i></th>
					<th><i class="fas fa-door-open fa-lg"></i>&nbsp;From
					</th>
					<th><i class="fas fa-door-closed fa-lg"></i>&nbsp;To</th>

				</thead>
				<tbody>
				<tr>
					<td class="six wide column">Monday</td>
					<td id="mondayfrom"></td>
					<td id="mondayto"></td>
				</tr>
				<tr class="row">
					<td>Tuesday</td>
					<td id="tuesdayfrom">--</td>
					<td id="tuesdayto">--</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td id="wednesdayfrom">--</td>
					<td id="wednesdayto">--</td>
				</tr>
				<tr class="row">
					<td>Thursday</td>
					<td id="thursdayfrom">--</td>
					<td id="thursdayto">--</td>
				</tr>
				<tr class="row">
					<td>Friday</td>
					<td id="fridayfrom">--</td>
					<td id="fridayto">--</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td id="saturdayfrom">--</td>
					<td  id="saturdayto">--</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td id="sundayfrom"></td>
					<td id="sundayto"></td>
				</tr>
</tbody>
				</table>




				</div>





				<div class="map-container">
					<div id="map"></div>
				</div>

				</div>

				<th:block layout:fragment="script">
					<script th:inline="javascript">

	  var weekValues = [[${weekValues}]];
	  var carParks = [[${carParks}]];

	  var markers = [];
	  var isclosed = "Closed";
	  var allday = "All day";
	  var geocoder;
	  var map;
		
	
				
		function initMap() {
			geocoder = new google.maps.Geocoder();
			
		
			var uluru = {
				lat : 51.602680,
				lng : -0.275280
			};
			map = new google.maps.Map(document.getElementById('map'), {
				zoom : 15,
				center : uluru,
				minZoom: 14,
				mapTypeControlOptions : {
					mapTypeIds : []
				},
				styles : [
				    {
				        "featureType": "all",
				        "elementType": "all",
				        "stylers": [
				            {
				                "hue": "#008eff"
				            }
				        ]
				    },
				    {
				        "featureType": "road",
				        "elementType": "all",
				        "stylers": [
				            {
				                "saturation": "0"
				            },
				            {
				                "lightness": "0"
				            }
				        ]
				    },
				    {
				        "featureType": "transit",
				        "elementType": "all",
				        "stylers": [
				            {
				                "visibility": "off"
				            }
				        ]
				    },
				    {
				        "featureType": "water",
				        "elementType": "all",
				        "stylers": [
				            {
				                "visibility": "simplified"
				            },
				            {
				                "saturation": "-60"
				            },
				            {
				                "lightness": "-20"
				            }
				        ]
				    }
				]
				

			});
			google.maps.event.addListener(map, 'tilesloaded', find_closest_markers);
			google.maps.event.addListener(map, 'center_changed', find_closest_markers);
			
			for (var i = 0; i < carParks.length; i++) {
				var address = carParks[i].carParkAddress1 + "," + carParks[i].carParkAddress2 + "," + carParks[i].carParkCity + "," + carParks[i].carParkPostcode;
				geocoder.geocode({'address': address}, geocodeEncapsulation(carParks[i]));
			}
		}
		
		
		function geocodeEncapsulation(i) {

					return( function(results, status){

					if (status == 'OK') {
						var markerIcon = {
								url : 'pin.png',
								scaledSize : new google.maps.Size(30,
										30),
								origin : new google.maps.Point(0, 0),
							};
						var marker = new MarkerWithLabel(
								{
									map : map,
									position : results[0].geometry.location,
									icon : markerIcon,
									labelContent : '£'  + i.price.toFixed(2),
									labelAnchor : new google.maps.Point(
											30, 35),
									labelClass : "markerdesign", 
									labelInBackground : false,
									title : i.name
								});
						marker.set("carpark", i);
						markers.push(marker);
 						
						google.maps.event.addListener(marker,'click', function () {
							car_park_details(marker);
							map.panTo(marker.getPosition());
						});
						google.maps.event.addListener(marker,'mouseover', function () {
							marker.set("labelClass","markerdesignhover");
						});
						google.maps.event.addListener(marker,'mouseout', function () {
							marker.set("labelClass","markerdesign");
						});
						
					} else {
						console.log(status);
					}
				
				});
		}
		
		
		   function car_park_details(marker) { 
			   
			   var carpark = marker.get("carpark");
			    $('#nearest').css("display", "none"); 
				$('#backbar').css("display", "block"); 
				$('#details').css("display", "block"); 
				
				$('#carparkname').html(carpark.name);
				$('#address').html(carpark.carParkAddress1 + "<br>" + carpark.carParkAddress2 + "<br>" + carpark.carParkCity + "<br>" + carpark.carParkPostcode);
				$('#parkingrate').html(carpark.parkingRate);
				$('#price').html('£'+carpark.price.toFixed(2));
				$('#spaces').html(carpark.carParkSpots.length);
				$('#email').html(carpark.email);

				
/* 				var disabledcount = 0;
				for (var d = 0; d < carpark.carParkSpots.length; d++) {
					if (carpark.carParkSpots[d].disabled == true){
						disabledcount++;
					}
				} */
				$('#disabled').html(carpark.disabledSpots.length); 

				$('#reservebutton').prop('href','/booking/'+carpark.carParkId);
				
				//for (var x = 0; x < weekValues.length; x++) {
					for (var y = 0; y < carpark.carParkTimes.length; y++) {
						var timesList = carpark.carParkTimes[y];
	
						//if (timesList.dayOfWeek === weekValues[x]) {
							if (timesList.openTime == null && timesList.closeTime == null) {
								$('#'+timesList.dayOfWeek.toLowerCase()+'from').html(isclosed);
								$('#'+timesList.dayOfWeek.toLowerCase()+'to').html(isclosed);
							} else if (timesList.openTime == "00:00:00" && timesList.closeTime == "00:00:00") {
								$('#'+timesList.dayOfWeek.toLowerCase()+'from').html(allday);
								$('#'+timesList.dayOfWeek.toLowerCase()+'to').html(allday);
							} else {
								$('#'+timesList.dayOfWeek.toLowerCase()+'from').html(timesList.openTime.substring(0, 5));
								$('#'+timesList.dayOfWeek.toLowerCase()+'to').html(timesList.closeTime.substring(0, 5));
							}
						//}
						
					}
					
				//}
	
		   }
		
		function compare(a, b) {
			var distancea = a.get("distance");
			var distanceb = b.get("distance");
			
			  if (distancea > distanceb) return 1;
			  if (distanceb > distancea) return -1;

			  return 0;
			}

		function find_closest_markers() {
			if ($('#nearest').css("display")=="block") {
		    for (i = 0; i < markers.length; i++) {
		        var d = google.maps.geometry.spherical.computeDistanceBetween(markers[i].position, map.center);
		        
		        markers[i].set("distance", d);

		        markers.sort(compare);
		        display_closest_markers();
		    }
			}
		}
		   
		
		function display_closest_markers() {
			if ($('#nearest').css("display")=="block") {
		   		var priceid = "priceid";
		   		var spaceid = "spaceid";
		   		var nameid = "nameid";
		   		var nearestid = "nearestcarpark";
		   		var range = 0;
		   
		   		if (markers.length < 5) {
			   		range = markers.length;
		   		} else {
		       		range = 5;
		   		}
		   
		   		for (var i = 0; i < range; i++) {
		    		if ($('#'+nearestid+i).length == 0 ){
		    	
						var div = $('<div>').addClass("ui segment tiles").attr('id', nearestid+i);
		/*	   			var table = $('<table>').addClass("table-bordered table-sm pointer");
			   
 			    		table.append('<thead style="background: #0275d8;color: #FFFFFF;"><tr style="text-align: center; vertical-align: top"><th id="'+nameid+i+'" colspan="2"></th></tr></thead>');
			    		table.append('<tbody><tr style="text-align: center;"><td id="'+priceid+i+'" scope="col"></td><td id="'+spaceid+i+'" scope="col"></td></tr></tbody>'); */
						//div.append(table);
						//$('#nearest').append("<br>");
						div.append('<div class="container" style="height: 72px;"><h5 style="padding-bottom: 15px; border-bottom: 1px solid #B8B8B8;" id="'+nameid+i+'"></h5><h8  id="'+priceid+i+'"></h8><h8 style="float:right;" id="'+spaceid+i+'"></h8></div>');
			    		$('#nearest').append(div);

		    		}  
		    		$('#'+nameid+i).html('<i class="fas fa-parking fa-lg" style="color:#007FFF;"></i>&nbsp;&nbsp;'+markers[i].get("carpark").name);
		    		$('#'+priceid+i).html("£"+markers[i].get("carpark").price.toFixed(2));
		    		$('#'+spaceid+i).html('<i class="fas fa-car-side fa-lg"></i>&nbsp;'+markers[i].get("carpark").carParkSpots.length + " spaces");
		   		}
		    
		}
		   
  		   $("#nearestcarpark0").click( function() {
			   car_park_details(markers[0]);
		   });
 		   $("#nearestcarpark1").click( function() {
			   car_park_details(markers[1]);
		   });
		   $("#nearestcarpark2").click( function() {
			   car_park_details(markers[2]);
		   });
 		   $("#nearestcarpark3").click( function() {
			   car_park_details(markers[3]);
		   });
		   $("#nearestcarpark4").click( function() { 
			   //var m = markers.find(x => x.title == $("#nameid4").text());
			   car_park_details(markers[4]);
		   });     
		   
		   $("#backbutton").click( function() {
				$('#backbar').css("display", "none"); 
				$('#details').css("display", "none"); 
				$('#nearest').css("display", "block"); 
		   });
		   
	    		
		}
	
	</script>
					<script
						src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAqmLfX-y8ALh9UU0d48ddAKL3WNpK7ti4&map_ids=b871c84433656771&callback=initMap"
						defer></script>



					<script defer src="markerwithlabel.js"></script>
				</th:block>
</body>
</html>