<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">


<body>

	<!--  Navigation Bar -->




	<!--  HTML registration form  -->

	<div layout:fragment="content">
		<div class="ui container">
			<div
				style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 40px;">
				<div class="ui segments">

					<div class="ui segment secondary">Login Page</div>


					<div class="ui segment">
						<form th:action="@{/login}" method="post">

							<!-- Error Message -->
						
								<div class="ui negative message margin-10" id="error">
									<i class="close icon"></i> Invalid username or password
								</div>
		
							<!-- Logout Message -->

						
								<div class="ui info message margin-10" id="logout">
									<i class="close icon"></i> You have been logged out
								</div>
						


							<!-- Registration success message -->
							
								<div class="ui info message margin-10" id="registrationSuccess">
									<i class="close icon"></i> You have registered successfully
								</div>



							<div class="group">
								<label class="leftlabel" for="username"> <span>Username</span>
									<input type="text" id="username" name="username" class="field borderless"
									placeholder="Enter username" required autofocus="autofocus" /></label>

							</div>
							<div class="group">
								<label class="leftlabel" for="password"> <span>Password</span>
									<input type="password" id="password" name="password"
									class="field borderless" placeholder="Enter password" required
									autofocus="autofocus" /></label>
							</div>
							<div class="ui checkbox margin-10">

								<input type="checkbox" class="form-check-input" id="remember-me"
									name="remember-me"> <label class="form-check-label"
									for="remember-me">Remember me?</label>
							</div>

							<div class="margin-10">
								<button type="submit" class="ui fluid positive button">
									Login
								</button>
								<a class="ui fluid button margin-top-10"
									th:href="@{registration}">Sign Up</a>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script>
			$(document)
					.ready(
							function() {
								$('#logout').hide();
								$('#error').hide();
								$('#registrationSuccess').hide();
								var urlParams = new URLSearchParams(
										window.location.search);
								if (urlParams.has('logout')) {
									$('#logout').show();
									setTimeout(
											function() {
												$('#logout')
														.slideUp(
																350,
																function() {
																	if ($(
																			'#logout')
																			.css(
																					'display') == 'none') {
																		window.location.href = window.location.href
																				.split("?")[0]
																	}
																});
											}, 5000);
								} else if (urlParams.has('error')) {
									$('#error').show();
									setTimeout(
											function() {
												$('#error')
														.slideUp(
																350,
																function() {
																	if ($(
																			'#error')
																			.css(
																					'display') == 'none') {
																		window.location.href = window.location.href
																				.split("?")[0]
																	}
																});
											}, 5000);
								} else if (urlParams.has('registrationSuccess')) {
									$('#registrationSuccess').show();
									setTimeout(
											function() {
												$('#registrationSuccess')
														.slideUp(
																350,
																function() {
																	if ($(
																			'#registrationSuccess')
																			.css(
																					'display') == 'none') {
																		window.location.href = window.location.href
																				.split("?")[0]
																	}
																});
											}, 5000);
								}
							});
			
			$('.message .close').on('click', function() {
				$(this).parent().hide();
			});
		</script>
	</div>
</body>
</html>