<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">

<body>


	<div layout:fragment="content" th:remove="tag">
		<div class="pusher">
			<div class="ui container">




				<form class="ui form" th:action="@{/registration}" method="post"
					th:object="${user}">
					<div class="ui segments">

						<div class="ui top attached segment secondary">Registration</div>
						<div class="ui segment padding-20">

							<div id="error" class="ui negative message">
								<p id="errorMessage"></p>
							</div>


							<div class="two fields">
								<div id="usernameDiv" class="field">
									<label for="username"> Username:</label> <input type="text"
										th:field="*{username}" id="username"
										placeholder="Enter a username" required autofocus="autofocus" />
								</div>


								<div id="passwordDiv" class="field">
									<label for="password">Password:</label> <input type="password"
										th:field="*{password}" required id="password"
										placeholder="Enter a password" autofocus="autofocus" />
								</div>
							</div>

							<div class="two fields">
								<div class="field">
									<label for="firstname"> First Name: </label><input type="text"
										id="firstname" th:field="*{firstName}"
										placeholder="Enter your first name" required
										autofocus="autofocus" />
								</div>
								<div class="field">
									<label for="lastname"> Last Name: </label><input type="text"
										id="lastname" th:field="*{lastName}"
										placeholder="Enter your surname" required
										autofocus="autofocus" />
								</div>
							</div>

							<div class="fields">
								<div class="sixteen wide field">
									<label for="email"> Email:</label> <input type="email"
										id="email" th:field="*{email}" placeholder="email@example.com"
										required autofocus="autofocus" />
								</div>
							</div>

							<div class="fields">
								<div class="sixteen wide field">
									<label for="userrole">User Role: </label><select
										class="ui fluid dropdown" name="userrole" id="userrole"
										th:field="*{roleName}" required="required">
										<option th:each="role : ${roles}" th:value="${role.name}"
											th:text="${role.name}"></option>
									</select>
								</div>
							</div>
							<div class="fields" th:if="${user.carParkId != 0}">
								<div class="eight wide field">
									<label for="carpark">Add to car park: </label> <input
										type="number" id="addtocarpark" th:field="*{carParkId}"
										autofocus="autofocus" readonly />
								</div>
							</div>

							<input type="hidden" th:field="*{returnPage}">
							<input type="hidden" th:field="*{adminCreated}">




							<div class="margin-top-20">
								<a sec:authorize="!isAuthenticated()" class="ui button"
									th:href="@{login}"> <i class="fas fa-sign-in-alt"></i>&nbsp;
									Login
								</a>

								<button id="register" type="submit" class="ui positive button">
									<i class="fas fa-user-plus"></i>&nbsp; Register
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>

	</div>


	<div layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function() {
				$("#error").hide();

				$("#username").on('blur', function() {
					if ($(this).val() != '') {

						$.ajax({
							type : "GET",
							url : "/registration/checkUsername/" + $(this).val(),
							success : function(result) {
								if (result == "1") {
									$("#usernameDiv").removeClass("error");
									$("#error").hide();
									$("#register").prop("disabled", false);
								} else if (result == "2") {
									$("#usernameDiv").addClass("error");
									$("#error").show();
									$("#errorMessage").html("Username is taken");
									$("#register").prop("disabled", true);
								}
							}
						});
					} else {
						$("#usernameDiv").addClass("error");
						$("#error").show();
						$("#errorMessage").html("Username is required");
						$("#register").prop("disabled", true);
					}
				});

				$("#password").keyup(function() {
					if ($("#password").val().length >= 8) {
						$("#passwordDiv").removeClass("error");
						$("#error").hide();
						$("#register").prop("disabled", false);
					} else if ($("#password").val().length < 8 && $("#password").val().length > 0) {
						$("#passwordDiv").addClass("error");
						$("#register").prop("disabled", true);
					} else if ($("#password").val().length == 0) {
						$("#passwordDiv").addClass("error");
						$("#register").prop("disabled", true);
					}

				});

			});

			$('select.dropdown').dropdown();
		</script>
	</div>
</body>
</html>