<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{main-layout}">

<body>

	
<div layout:fragment="content">
	<div class="align-items-center container ">


		<br> <br> <br>
		<div class="form_group">
			<h1>Reserve</h1>
		</div>
		<br>

		<form >


			<div th:if="${param.success}">
				<div class="alert alert-info alert-dismissible fade show">
					Car park submitted successfully
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label" for="name"> Name: </label> <input
					type="text" id="name" class="form-control" th:field="*{name}"
					placeholder="Enter a name" required autofocus="autofocus" />
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">

					<label class="control-label" for="address1"> Address 1: </label> <input
						type="text" id="address2" class="form-control"
						th:field="*{carParkAddress1}" required
						placeholder="Address line 1" autofocus="autofocus" />
				</div>


				<div class="form-group col-md-6">
					<label class="control-label" for="firstname"> Address 2: </label> <input
						type="text" id="address2" class="form-control"
						th:field="*{carParkAddress2}" placeholder="Address line 2"
						required autofocus="autofocus" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="control-label" for="address3"> City: </label> <input
						type="text" id="address3" class="form-control"
						th:field="*{carParkCity}" placeholder="Address line 3" required
						autofocus="autofocus" />
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="postcode"> Postcode: </label> <input
						type="text" id="postcode" class="form-control"
						th:field="*{carParkPostcode}" placeholder="Address postcode"
						required autofocus="autofocus" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label class="control-label" for="noofspaces">Total
						available spaces:</label><input type="number" id="noofspaces"
						class="form-control" max="300" th:field="*{spaces}"
						placeholder="Number of spaces available" required
						autofocus="autofocus" />
				</div>
				<div class="form-group col-md-3">
					<label class="control-label" for="noofdisabled">Disabled
						spaces:</label><input type="number" id="noofdisabled" class="form-control"
						max="300" th:field="*{isDisabled}"
						placeholder="Number of disabled spaces" required
						autofocus="autofocus" />
				</div>



				<div class="form-group col-md-3">
					<label class="control-label" for="Amount"> Parking cost: </label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">£</span>
						</div>
						<input type="number" class="form-control" min="0.00"
							max="10000.00" step="0.01" id="Amount" th:field="*{price}"
							placeholder="0.00" required autofocus="autofocus">
					</div>
				</div>


				<div class="form-group col-md-3">
					<label class="control-label" for="Rate"> Parking Rate: </label>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-light active" data-toggle="tooltip"
							data-placement="bottom" title="Charges the customer per hour">
							<input type="radio" th:field="*{rate}" th:value="1.0"
							class="form-check-input" name="options" id="option1"
							autocomplete="off" checked> Hourly Rate
						</label> <label class="btn btn-light" data-toggle="tooltip"
							data-placement="bottom"
							title="Charges the customer every 30 minutes"> <input
							type="radio" th:field="*{rate}" th:value="0.5"
							class="form-check-input" name="options" id="option2"
							autocomplete="off"> 30 Minute Rate
						</label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="247">
						<label class="control-label" for="Rate"> 24/7 </label>
					</div>
				</div>
			</div>
			<div class="form-row timerow">

				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkMonday"> <label class="control-label" for="Rate">
							Monday: </label>
					</div>

					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' type="text" class="form-control time"
						id="MondayFrom" th:field="*{MondayFrom}" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text" th:field="*{MondayTo}"
						class="form-control time" id="MondayTo" placeholder="--:--"
						disabled='disabled' required autofocus="autofocus" />

				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkTuesday"> <label class="control-label"
							for="Rate"> Tuesday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{TuesdayFrom}" type="text"
						class="form-control time" id="TuesdayFrom" placeholder="--:--"
						required autofocus="autofocus"> <label
						class="control-label" for="Rate"> To: </label> <input type="text"
						th:field="*{TuesdayTo}" class="form-control time" id="TuesdayTo"
						placeholder="--:--" required disabled='disabled'
						autofocus="autofocus" step="60">
				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkWednesday"> <label class="control-label"
							for="Rate"> Wednesday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{WednesdayFrom}" type="text"
						class="form-control time" id="WednesdayFrom" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text"
						th:field="*{WednesdayTo}" class="form-control time"
						id="WednesdayTo" placeholder="--:--" required disabled='disabled'
						autofocus="autofocus" />
				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkThursday"> <label class="control-label"
							for="Rate"> Thursday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{ThursdayFrom}" type="text"
						class="form-control time" id="ThursdayFrom" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text"
						th:field="*{ThursdayTo}" class="form-control time" id="ThursdayTo"
						placeholder="--:--" required disabled='disabled'
						autofocus="autofocus" />
				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkFriday"> <label class="control-label" for="Rate">
							Friday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{FridayFrom}" type="text"
						class="form-control time" id="FridayFrom" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text" th:field="*{FridayTo}"
						class="form-control time" id="FridayTo" placeholder="--:--"
						required disabled='disabled' autofocus="autofocus" />
				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value=""
							id="checkSaturday"> <label class="control-label"
							for="Rate"> Saturday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{SaturdayFrom}" type="text"
						class="form-control time" id="SaturdayFrom" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text"
						th:field="*{SaturdayTo}" class="form-control time" id="SaturdayTo"
						placeholder="--:--" required disabled='disabled'
						autofocus="autofocus" />
				</div>
				<div class="form-group col">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="checkSunday">
						<label class="control-label" for="Rate"> Sunday: </label>
					</div>
					<label class="control-label" for="Rate"> From: </label> <input
						disabled='disabled' th:field="*{SundayFrom}" type="text"
						class="form-control time" id="SundayFrom" placeholder="--:--"
						required autofocus="autofocus" /> <label class="control-label"
						for="Rate"> To: </label> <input type="text" th:field="*{SundayTo}"
						disabled='disabled' class="form-control time" id="SundayTo"
						placeholder="--:--" required autofocus="autofocus" />
				</div>



			</div>

			<br>


			<div class="form-group">
				<button type="button" class="btn btn-primary mb-2"
					data-toggle="modal" data-target="#submitcarpark">Submit
					for approval</button>
			</div>


			<div class="modal" role="dialog" id="submitcarpark">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Submit Car Park</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>You are about to submit this car park for approval</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

</div>

	<script type="text/javascript">
		
	</script>


</body>
</html>