<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main-layout}">
<head>

</head>

<body>


	<div layout:fragment="content" th:remove="tag">

		<div class="pusher">

			<div class="ui container">


				<div class="ui stackable grid">




					<div class="row middle aligned">
						<div class="four wide column">

							<div>
								<span class="padding-left-10 heading1">View Spaces</span> <a
									id="back" class="pointer underline float-right"><i
									class="chevron left icon fitted"></i>&nbsp;Back</a>
							</div>
						</div>
						<div class="eight wide column">

							<div id="chargeSuccess"
								class="ui positive message small margin-0">
								<p>Charge was successful</p>
							</div>

							<div id="chargeError" class="ui negative message small margin-0">
								<p>Charge was unsuccessful</p>
							</div>
						</div>
						<div class="four wide column right aligned">

							<div class="ui labeled fluid input">
								<label class="ui label" style="padding-right: 1px;"><i
									class="calendar outline icon"></i></label> <input type="text"
									class="field" id="dateSelector" placeholder="Date"
									autofocus="autofocus" style="text-align: center;">

							</div>

						</div>
					</div>


					<div class="row">

						<div class="four wide column sideView">
							<table id="carparkspots"
								class="ui unstackable celled selectable table">
								<thead>
									<tr style="text-align: center; vertical-align: top">
										<th>Space ID</th>
										<th>Disabled</th>
									</tr>
								</thead>
								<tbody id="spaces">

									<tr th:each="spot : ${carpark.carParkSpots}"
										class='clickable-row pointer'
										th:spotId="${spot.carParkSpotId}"
										style="text-align: center; vertical-align: top">
										<td><span th:text="${spot.spaceNumber}"></span></td>
										<td><i class="wheelchair grey icon"></i></td>

									</tr>

								</tbody>
							</table>
						</div>
						<div class="twelve wide column mainView">
							<div th:insert="~{fragments :: spotBookings}" id="spotBookings"></div>


						</div>


					</div>
				</div>

				<form class="ui form modal" style="max-width: 500px;"
					id="chargeModal">

					<input type="hidden" id="bookingId" />
					<div class="header">Charge Customer</div>
					<div class="content">
						<div class="fields">
							<div class="sixteen wide field">
								<label>Customer ID:</label> <input name="stripeId" id="customer"
									readonly />
							</div>
						</div>

						<div class="fields">
							<div class="sixteen wide field">
								<label>Late Departure Fee:</label>
								<div class="ui labeled input">
									<label class="ui label">£</label><input type="number"
										min="0.00" max="100.00" step="0.01" id="amount" name="amount"
										placeholder="0.00" required autofocus="autofocus">
								</div>
							</div>
						</div>

					</div>

					<div class="actions">
						<button class="ui negative approve button" type="button"
							id="charge">Charge</button>
						<button class="ui cancel button" type="button">Cancel</button>
					</div>
				</form>




				<div class="ui modal tiny" id="reassignModal">
					<div class="header">Booking Actions</div>
					<div class="content">

						<div>
							Booking ID: &nbsp; <span id='reassignBookingId'></span>
						</div>


						<input type="hidden" id="bookingId">
						<div class="ui segment no-border padding-0" id="freeSpacesSegment">
							<div th:insert="~{fragments :: reassignFreeSpots}"
								id="reassignFreeSpots"></div>
						</div>
						<div class="ui horizontal divider">Or</div>
						<button id="cancelButton" class="ui primary fluid button"
							type="button">Refund and Cancel Booking</button>
					</div>

					<div class="actions">
						<button class="ui cancel button" type="button">Cancel</button>
					</div>
				</div>


			</div>

		</div>

	</div>



	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$('#chargeSuccess').hide();
			$('#chargeError').hide();

			$(window).resize(function() {
				showViews();
			});

			function showViews() {
				if ($(window).width() < 767) {

					$(".mainView").hide();
					$("#back").hide();

				} else {
					$("#back").hide();
					$(".mainView").show();
					$(".sideView").show();
				}
			}

			$(document).ready(function() {

				showViews();

				$('#carparkspots').DataTable({
					lengthMenu : [ 5, 10 ],
					lengthChange : false,
					searching : false,
					info : false,
					columnDefs : [ {
						orderable : false,
						targets : [ 1 ]
					} ],
					dom : "<'ui grid margin-top-0'" + "<'row dt-table'" + "<'column'tr>" + ">" + "<'row'" + "<'column'p>" + ">" + ">"
				}

				);

				removeStacked();

				function removeStacked() {
					$('.ui.pagination.menu').removeClass('stackable').addClass('unstackable');
				}

				$('#carparkspots_paginate').click(function() {
					removeStacked();
				})

				$('#carparkspots').removeClass('dataTable');
				$('#carparkspots tr:first-child').addClass("active");

				var dateSelector = $("#dateSelector").datepicker({
					dateFormat : "dd/mm/yy",
					startDate : '01/01/1997',
					//minDate : 0
					onSelect : function() {

						getSpotBookings();

					}
				});

				$("#dateSelector").datepicker().datepicker("setDate", new Date());

				getSpotBookings();

				dateSelector.blur(); //to avoid bug

				$('#spotBookings').on('click', '.charge', function() {
					var stripeId = $(this).attr("stripeId");
					//var bookingId = $(this).attr("bookingId");
					$('#customer').val(stripeId);
					//$('#stripeId').html(stripeId);
					$('#chargeModal').modal('show');
				});

				$('#spotBookings').on('click', '.reassign', function() {
					var bookingId = $(this).attr("bookingId");

					$('#reassignBookingId').html(bookingId);

					var url = "/siteadmin/getFreeSpaces/?bookingId=" + bookingId;

					$('#freeSpacesSegment').addClass('loading');
					$("#reassignFreeSpots").load(url, function() {
						$('#freeSpacesSegment').removeClass('loading');
					});

					$('#reassignModal').modal('show');
				});

				$("#carparkspots").on('click', '.clickable-row', function() {
					$('.clickable-row').not(this).removeClass('active');
					$(this).addClass('active');

					//switchView();

					getSpotBookings();

					if ($(window).width() < 800) {
						$(".sideView").hide();
						$(".mainView").show();
						$("#back").show();

					}
				});

				function getSpotBookings() {
					var date = $("#dateSelector").val();
					var spotParam = "carParkSpotId=" + $('#carparkspots .clickable-row.active').attr("spotId");
					var url = "/siteadmin/findByCarParkSpotsAndStartDate/?" + spotParam + "&date=" + date;

					$('#spotBookingsSegment').addClass('loading');
					$("#spotBookings").load(url, function() {
						$('#spotBookingsSegment').removeClass('loading');
					});
				}

				$('#back').click(function() {
					$(".sideView").show();
					$(".mainView").hide();
					$("#back").hide();
				})

				$('#charge').click(function() {
					//var stripeId = "stripeId=" + $('#stripeId').text();
					//var amount = "&amount=" + $('#amount').val();

					$('#spotBookingsSegment').addClass('loading');
					$.ajax({
						type : "GET",
						data : $('#chargeModal').serialize(),
						url : "/siteadmin/chargeCustomer",
						//+ "&" + bookingId,
						success : function(result) {
							$('#spotBookingsSegment').removeClass('loading');
							if (result == "success") {
								$('#chargeSuccess').show();
							} else {
								$('#chargeError').show();
							}
						}
					})
				});

			});

			function reassign(carParkSpotId) {
				var date = $("#dateSelector").val();
				var bookingId = $('#reassignBookingId').text();
				var activeSpotId = $('#carparkspots .clickable-row.active').attr("spotId");

				var url = "/siteadmin/reassign/?bookingId=" + bookingId + "&carParkSpotId=" + carParkSpotId + "&activeSpotId=" + activeSpotId + "&date=" + date;

				$('#reassignModal').modal('hide');

				$('#spotBookingsSegment').addClass('loading');
				$("#spotBookings").load(url, function() {
					$('#spotBookingsSegment').removeClass('loading');
				});
			}

			$("#cancelButton").click(function() {
				var date = $("#dateSelector").val();
				var bookingId = $('#reassignBookingId').text();
				var activeSpotId = $('#carparkspots .clickable-row.active').attr("spotId");

				var url = "/siteadmin/cancel/?bookingId=" + bookingId + "&activeSpotId=" + activeSpotId + "&date=" + date;

				$('#reassignModal').modal('hide');

				$('#spotBookingsSegment').addClass('loading');
				$("#spotBookings").load(url, function() {
					$('#spotBookingsSegment').removeClass('loading');
				});
			})
		</script>


	</th:block>
</body>
</html>