<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{main-layout}">


<body>

	<!--  Navigation Bar -->



	<!--  HTML registration form -->
<div layout:fragment="content">
	<div class="align-items-center container ">


		<br> <br> <br>
		<div class="form_group">
			<h1>Add a car park</h1>
		</div>
		<br>

		<form>

			<!-- Registration success message -->
			<div th:if="${param.success}">
				<div class="alert alert-info alert-dismissible fade show">
					Vehicle added successfully
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label" for="name"> Registration: </label> <input
					type="text" id="name" class="form-control" 
					placeholder="Vehicle registration number" required autofocus="autofocus" />
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">

					<label class="control-label" for="address1"> Make: </label> <input
						type="text" id="address2" class="form-control"
						 required
						placeholder="Make" autofocus="autofocus" />
				</div>


				<div class="form-group col-md-6">
					<label class="control-label" for="firstname"> Colour: </label> <input
						type="text" id="address2" class="form-control"
						 placeholder="Colour"
						required autofocus="autofocus" />
				</div>
			</div>




	


			<br>


			<div class="form-group">
				<button type="button" class="btn btn-primary mb-2"
					data-toggle="modal" data-target="#submitcarpark">Submit
					for approval</button>
			</div>


			<div class="modal" role="dialog" id="submitcarpark">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Submit Car Park</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>You are about to submit this car park for approval</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>

	<script type="text/javascript">

	</script>


</body>
</html>